.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}
  
.address {
  font-style: normal;
  text-underline-position: under;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
  font-weight: 400;
  text-decoration: underline;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 135px;
  height: 90px;
}

.header-address {
  justify-self: end;
  margin-right: 37.2px;
  font-style: normal;
  line-height: 24.3px;
}

/* COVER */

.cover {
  position: relative;
  z-index: 1;
  color: #fff;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: 51.5%;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 165px 50px 50px;
  padding-bottom: 83px;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.aligned-text {
  margin-bottom: 20px;
}

.aligned-text__left {
  margin-bottom: 20px;
}

.aligned-text__center {
  display: block;
  padding-top: 20px;
  padding-left: 30px;
  text-align: center;
}

.aligned-text__right {
  display: block;
  padding-left: 50px;
  text-align: right;
}

.aligned-text-letter {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 0px 50px 50px 50px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px 11px 35px;
}

/* LOTS */

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  padding: 0px 0px 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  position: relative;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 334px;
  height: 100%;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  align-self: end;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.container__more-link {
  margin-top: 30px;
  margin-left: 40px;
}

.lots__look-more-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.5px;
  text-underline-position: under;
}

/* ABOUT */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 120px 24px 180px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 25px;
  margin-right: 72px;
  margin-left: 50px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.description-block {
  padding-top: 133px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.text-above {
  padding-right: 5px;
  padding-bottom: 24px;
}

.text-bottom {
  padding-right: 5px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 50px 82px;
  font-size: 18px;
  line-height: 21.13px;
}

.address-footer {
  line-height: 24.3px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  text-underline-position: under;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
